// $base-color:#333;
// $secondary-color:#666;
// $base-border: 1px solid #000;
$header-height:95px;
$siderbar-width: 300px;
$default-border-color: #eee;
$mobile:768px;
$tablet: 992px;
$desktop:1440px;
$fonts-path:'../fonts';
$images-path: '../images';