.content {
    .content-box {
        border-left: 2px solid #EEEEEE;
        padding-left: 18px;
        margin-bottom: 75px;
        .box-title {
            font-size: 16px;
            line-height: 18.75px;
            letter-spacing: 1.53px;
            color: #AEAEAE;
            margin-bottom: 12px;
        }
        .box-text {
            font-size: 16px;
            line-height: 30px;
            color: #0D3268;
        }
    }
    .subtitle {
        font-size: 34px;
        line-height: 39.84px;
        color: #333;
        margin-bottom: 11px;
    }
    .subtitle-summary {
        font-size: 14px;
        line-height: 16.41px;
        color: #333;
        margin-bottom: 24px;
    }
    .subtitle-box {
        background-color: #F8F8F8;
        padding-left: 29px;
        padding-top: 42px;
        padding-bottom: 112px;
        margin-bottom: 80px;
        color: #333;
        .subtitle-box-text {
            display: flex;
            align-items: center;
            margin-bottom: 28px;
        }
        .type-1-title {
            font-size: 34px;
            line-height: 39.84px;
            font-weight: 600;
            margin-right: 15px;
        }
        .type-1-text {
            font-size: 14px;
            line-height: 16.41px;
            font-weight: 600;
        }
        .type-2-title {
            font-weight: 400;
        }
        .type-2-text {
            font-weight: 400;
        }
        .type-3-title {
            font-weight: 300;
        }
        .type-3-text {
            font-weight: 300;
        }
    }
    .subtitle-box-1 {
        padding-left: 29px;
        padding-top: 26px;
        padding-bottom: 55px;
        .type-2-1-title {
            font-size: 56px;
            line-height: 72px;
            margin-bottom: 30px;
        }
        .type-2-2-title {
            font-size: 34px;
            line-height: 44px;
            margin-bottom: 30px;
        }
        .type-2-3-title {
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 30px;
        }
        .type-2-4-title {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 30px;
        }
        .type-2-5-title {
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 30px;
        }
        .type-2-6-title {
            font-size: 12px;
            line-height: 16px;
        }
    }
}

.bold-text {
    font-weight: bold;
}

.dis-77 {
    margin-bottom: 77px;
}